/Debug/
/10mer_Historam_Of_Full_homo_sapiens.fa.csv
/10mer_Historam_Of_homo_sapiensupstream.fas.csv
/1mer_Historam_Of_Full_homo_sapiens.fa.csv
/1mer_Historam_Of_homo_sapiensupstream.fas.csv
/7mer_Historam_Of_Full_homo_sapiens.fa.csv
/7mer_Historam_Of_homo_sapiensupstream.fas.csv
/8mer_Historam_Of_Full_homo_sapiens.fa.csv
/8mer_Historam_Of_homo_sapiensupstream.fas.csv
/9mer_Historam_Of_homo_sapiensupstream.fas.csv
/Full_homo_sapiens.fa
/Homo_sapiens.GRCh37.74.dna.chromosome.1.fa
/Homo_sapiens.GRCh37.74.dna.chromosome.2.fa
/homo_sapiensupstream.fas
/outputtest.txt
/Test_Homo_sapiens_1_and_2.fa
/test.txt
